<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DarkNet" version="2.3.0" targetFramework="net472" />
  <package id="log4net" version="1.2.10" targetFramework="net472" />
  <package id="MaterialDesignColors" version="3.1.0-ci571" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.0.1-ci571" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="PropertyWithPropChangeMethodSnippet" version="2.0.0" targetFramework="net472" />
</packages>